{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

<h2>Customer Profile</h2>
<p class="text-muted">Manage customer details and savings records</p>

<input type="text" class="form-control mb-3" placeholder="Search by name, ID, or phone number" />
<div class="overlay" id="popupOverlay">
    <div class="popup">
        <h3>Hello there</h3>
        <button type="button" onclick="closePopup()" class="btn btn-primary">close</button>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
        </tr>
    </thead>
  {% for customer in customers %}
    <tbody>
        <tr>
        <td>{{customer.first_name}}</td>
        <td>CUST001</td>
        <td>+1 (555) 123-4567</td>
        <td>sophia.carter@email.com</td>
        <td><span class="badge bg-success">Active</span></td>
        <td><button type="button" class="btn btn-primary" onclick="showPopup()">view</button></td>
        </tr>
    </tbody>
  {% endfor %}
</table>
{% endblock %}
