{% extends 'base.html' %}
{% load static %}
{% block title %}Customers{% endblock %}
{% block content %}

<h2>Customer Profile</h2>
<p class="text-muted">Manage customer details and savings records</p>
<div class="d-flex flex-row gap-3">
  <input type="text" class="form-control mb-3" placeholder="Search by name, ID, or phone number" />
  <button type="submit" class="btn btn-primary col-2 h-1"><a href="{% url 'customers:create-customer' %}" class="text-white">Add Customer</a></button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Location</th>
        <th>Business</th>
        <th>Status</th>
        <th>Actions</th>
        </tr>
    </thead>
  {% for customer in customers %}
    <tbody>
        <tr>
        <td>{{customer.first_name}}</td>
        <td>{{customer.last_name}}</td>
        <td>{{customer.location}}</td>
        <td>{{customer.business}}</td>
        <td><span class="badge bg-success">Active</span></td>
        <td><button type="button" class="btn btn-primary"><a href="{% url 'customers:customer_details' pk=customer.pk %}" class="link">View</a></button></td>
        </tr>
    </tbody>
  {% endfor %}
</table>
{% endblock %}
