<h1>Search Results</h1>
<form method="get" action="{% url 'customers:search_customers' %}">
    <input type="text" name="q" value="{{ query }}" placeholder="Search Customers...">
    <button type="submit">Search</button>
</form>

{% if query %}
    <p>Showing results for "{{ query }}":</p>
    <ul>
        {% for customer in results %}
            <li>{{ customer.first_name }} - ${{ customer.last_name }}</li>
        {% empty %}
            <li>No results found.</li>
        {% endfor %}
    </ul>
{% endif %}
